@import "../../styles/common.scss";

.header-container {
    padding-left: 10px;
    padding-top: 38px;
    .hello{
        font-size: 18px;
        padding-left: 10px;
        float: left;
        margin-right: 20px;
    }
}
    

//     // position: relative;
//     // .btn-logout {
//     //     color: black;
//     //     line-height: 35px;
//     //     height: 30px;
//     //     width: 60px;
//     //     padding: 0 10px;
//     //     &:hover {
//     //         background-color: darken($colormain, 5);
//     //     }
//     //     i {
//     //         font-size: $base-size + 1px;
//     //     }
//     // }
// }