.cssDetail {
    text-align: center;
}
.detailSpace{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.detailSpaceMap{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}