@import url('https://fonts.googleapis.com/css?family=Roboto');

.container-nav{
    padding-right: 0px;
  .card{
    width: 280px;
    height: auto;
    background-color: #2A3942;
    border-radius: 10px 10px;
  }
  
  .header{
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    background-color: #2A3942;
  }
  
  h3{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
  }
  
  .iconM{
    font-size: 18px;
    margin-left: 170px;
    color: #2f89fc;
  }
  
  .icon{
    margin-right: 8px;
  }
  .btn-logout {
        
        color: #fff;
        line-height: 30px;
        // height: 30px;
        width: 100%;
        // padding: 15px;
        font-size: 18px;
        &:hover {
          transition: 1s all;
          color: #2f89fc;
            background-color:rgba(42, 56, 65, 0.82);
        }
       
      }
  .body li{
    transition: 1s all;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 15px;
    margin-left: auto;
    margin-top: 0px;
    color: #fff;
    list-style: none;
    display: block;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
  }
 
  
  li:hover{
    transition: 1s all;
    color: #2f89fc !important;
    background-color: rgba(42, 56, 65, 0.82);
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
  }
  
  .body > li{
    float: left;
  }
  
  
}